################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
/.vs/BtWebAPI/FileContentIndex/146bce96-6beb-4d4b-9fc0-d6f1214c7c25.vsidx
/.vs/BtWebAPI/FileContentIndex
/.vs/Backend/FileContentIndex
/.vs/BtWebAPI/v17
/.vs/BtWebAPI/v16
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/BusinessInterfaceLayer/obj/Debug/net8.0
/BusinessInterfaceLayer/obj/Release/net8.0
/BusinessLogicLayer/obj/Debug/net8.0
/BusinessLogicLayer/obj/Release/net8.0
/DataLayer/obj/Debug
/DataLayer/obj/Release/net8.0
/ModelLayer/obj/Debug/net8.0
/ModelLayer/obj/Release/net8.0
/WepAPI/obj/Debug/net8.0
/WepAPI/obj/Release/net8.0
/BusinessInterfaceLayer/obj
/BusinessLogicLayer/obj
/DataLayer/obj
/ModelLayer/obj
/WepAPI/obj
